* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.page {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.card {
  width: 250px;
  height: 300px;
  background: #f0f0f0;
  border: 1px solid #6ebdb0;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__image {
  width: 100%;
  height: 168px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url("kyoto.png");
  background-position: center;
}

.card__body {
  padding: 15px;
  text-align: center;
}

.card__title {
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.card__description {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}

.card__action {
  text-align: center;
}

.btn {
  color: #ffffff;
  background: #6ebdb0;
  border-radius: 5px;
  padding: 4px 30px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
}

.btn:hover {
  background-color: #589d91;
}
