* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* ORNAMENT_BG */
.ornament-bg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20%, -40%);
}

/* MAIN */
.main {
  width: 100%;
}

.main__wrapper {
  width: 90%;
  height: 100%;
  max-width: 1110px;
  padding: 120px 0;
  margin: auto;
  display: flex;
  flex: row;
  flex-wrap: wrap;
}

.main__content {
  flex-basis: 50%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__image {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.main__image img {
  width: 80%;
  margin: auto;
}

.main__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.main__title span {
  color: #6ebdb0;
}

.main__description {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

.main__actions {
  margin: auto 0;
}

/* LOCATION */
.location {
  width: 100%;
}

.location__wrapper {
  background: #ffffff;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  min-height: 100px;
}

.location__content {
  width: 90%;
  max-width: 1110px;
  margin: auto;
  padding: 50px 0;
}

.location__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #6ebdb0;
  margin-bottom: 20px;
}

.location__cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* FOOTER */
.footer {
  width: 100%;
  margin: 30px 0;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #0c0f53;
}

/* BUTTON COMPONENT */
.btn {
  border-radius: 5px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #ffffff;
  background: #ffffff;
  transition: 250ms;
  background-color: #0c0f53;
  font-size: 18px;
  line-height: 21px;
}

/* CARD COMPONENT */
.card {
  flex-basis: 30%;
  padding: 20px 0;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 90px;
  padding: 75px 30px 30px 30px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  position: relative;
}

.card__header {
  position: absolute;
  top: -90px;
  height: 150px;
  width: 150px;
  background-color: #e9f5f3;
  border-radius: 50%;
}

.card__header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.card__point {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 90px;
  top: 0px;
  background-color: #6ebdb0;
  border: 3px solid #b4ddd6;
  border-radius: 50%;
}

.card__point span {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
}

.card__title {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #0c0f53;
}

.card__description {
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 650px) and (orientation: portrait) {
  .ornament-bg {
    display: none;
  }

  .main__wrapper {
    flex-direction: column-reverse;
    margin: auto;
    padding: 20px 0;
  }

  .main__content {
    flex-basis: 100%;
    padding: 0;
    text-align: center;
  }

  .main__image {
    flex-basis: 100%;
    display: flex;
    align-items: center;
  }

  .main__actions {
    margin: 40px 0;
  }

  .main__title {
    font-size: 36px;
    line-height: 42px;
  }

  .main__description {
    font-size: 14px;
    line-height: 21px;
  }

  .location__cards {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}
