$color-gray: #606060;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $color-gray;

  &__item {
    padding: 10px;

    &--small {
      font-size: 6px;
    }
  }
}