* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;

  --color-main: red;
  --color-accent: blue;
  --color-gray: #e0e0e0;

  /* var sass */
  /* $color-main:red;
  color: $color-red */
}

.page {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  border-radius: 5px;
  padding: 4px 30px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #ffffff;
  background: #ffffff;
  transition: 250ms;

  /* Run animation */
  /* animation: up-down 750ms infinite; */
}

/* .btn:hover {
  background-color: blue;
} */

.btn--primary {
  background: var(--color-gray);
}

.btn--primary-main {
  background-color: var(--color-main);
}

.btn--primary-accent {
  background-color: var(--color-accent);
}

.btn--secondary {
  color: var(--color-gray);
  border: 1px solid var(--color-gray);
}

.btn--secondary-main {
  color: var(--color-main);
  border: 1px solid var(--color-main);
}

.btn--secondary-accent {
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

/* CSS Keyframe */
/* @keyframes up-down {
  0% {
    transform: translateY(0%);
  }

  90% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
} */
