.card {
  flex-basis: 30%;
  padding: 20px 0;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 90px;
  padding: 75px 30px 30px 30px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  position: relative;
}

.card__header {
  position: absolute;
  top: -90px;
  height: 150px;
  width: 150px;
  background-color: #e9f5f3;
  border-radius: 50%;
}

.card__header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.card__point {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 90px;
  top: 0px;
  background-color: #6ebdb0;
  border: 3px solid #b4ddd6;
  border-radius: 50%;
}

.card__point span {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
}

.card__title {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #0c0f53;
}

.card__description {
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
}
