* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

.container {
  width: 90%;
  margin: auto;
}

.title {
  background-color: whitesmoke;
  padding: 40px 0;
}

.title h1 {
  margin-top: 0;
}

.number-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
}

.number {
  margin: 5px;
  border: 1px solid black;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  width: auto;
  min-width: 45px;
  height: 45px;
  padding: 0 5px;
}

.fizz-buzz {
  color: white;
  background-color: green;
  border: 1px solid green;
  font-weight: bold;
}

.fizz {
  color: blue;
  border: 1px solid blue;
  font-weight: bold;
}

.buzz {
  color: red;
  border: 1px solid red;
  font-weight: bold;
}