.btn {
  border-radius: 5px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #ffffff;
  background: #ffffff;
  transition: 250ms;
  background-color: #0c0f53;
  font-size: 18px;
  line-height: 21px;
  margin: 0 5px;
}

.btn__round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 20px;
  padding: 0;
}
