.location {
  width: 100%;
}

.location__wrapper {
  background: #ffffff;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  min-height: 100px;
}

.location__content {
  width: 90%;
  max-width: 1110px;
  margin: auto;
  padding: 50px 0;
}

.location__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #6ebdb0;
  margin-bottom: 20px;
}

.location__cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
