body {
  margin: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.card {
  width: 300px;
  height: 250px;
  border: 1px solid #e0e0e0;
}

.card--small {
  width: 300px;
  height: 100px;
}

.card__title {
  font-size: 24px;
  font-weight: 700;
}

/* syntax scss */
/* 
.card {
  width: 300px;
  height: 250px;
  border: 1px solid #e0e0e0;

  .card__title {
    font-size: 24px;
    font-weight: 700;
  }
} 
*/
